body{
    margin: 0;
    padding: 0;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    height: 160px;
    position: relative;
    color: #fff;
    font-size: 28px;
}
.container{
    justify-content: center ;
}
#bio-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 19%;
    left: 42%;
    background-image: url("picture/profile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#main-bio{
    margin-top: 15%;    
    top: 50%;
    left: 46%;
}
#contact-info h2{
    text-align: center;
}
.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.icon-git{
    color: black;
    font-size: 25px;
}
.icon-mail{
    color: rgb(54, 123, 218);
    font-size: 25px;
}
.icon-link{
    color: rgb(45, 45, 216);
    font-size: 25px;
}